# Tutorial2: Las series como estructura de datos

Ejemplos de uso de Series en pandas

In [1]:
import pandas

In [4]:
# Una serie se puede entender como un array simple

serie = pandas.Series([1,"Juan", 3.5, "Pedro"]) # Así creamos una serie
serie # Así podemos visualizarla

0        1
1     Juan
2      3.5
3    Pedro
dtype: object

In [7]:
serie[1] # Al igual que en un array simple, podemos ver los elementos de un indice poniendo su numero entre corchetes

'Juan'

In [8]:
serie.values # Con values podemos ver todo el array

array([1, 'Juan', 3.5, 'Pedro'], dtype=object)

In [14]:
# Podemos cambiar los indices a string como si fuera un mapa(Diccionario es como se llama en python)
serie2 = pandas.Series([1, "Juan", 3.5, "Pedro"], index=["aaa","b","c","d"])
serie2

aaa        1
b       Juan
c        3.5
d      Pedro
dtype: object

In [17]:
serie2["b"] # Se accede de la misma manera

'Juan'

In [19]:
serie2.index # Así consultamos los índices

Index(['aaa', 'b', 'c', 'd'], dtype='object')

In [38]:
# Podemos crear un Diccionario y convertirlo en una Serie de la siguiente forma
score = {"Pedro":10, "Marta":50, "Lucas":80, "Brais":10000}

serie_nombres = pandas.Series(score)
serie_nombres

Pedro       10
Marta       50
Lucas       80
Brais    10000
dtype: int64

In [46]:
# Podemos hacer consultas simples desde los propios corchetes así:

serie_nombres[serie_nombres>60]

Lucas     80
Brais    420
dtype: object

In [47]:
# Podemos cambiar los valores de una serie igual que en un array
serie_nombres[0] = 0
serie_nombres["Marta"] = 3
serie_nombres[serie_nombres>80] = 420

serie_nombres

Pedro      0
Marta      3
Lucas     80
Brais    420
dtype: object

In [48]:
# Podemos comprobar si un id está contenido en el array/diccionario/serie
"Brais" in serie_nombres

True

In [49]:
"Rulas" in serie_nombres

False

In [51]:
# Se puede operar sobre todos los elementos como si se tratase de una variable numerica
serie_nombres/10

Pedro         0
Marta         9
Lucas      6400
Brais    176400
dtype: object

In [57]:
# Se puede comprobar si un elemento es null con .isnull()
serie_nombres["Rulas"] = None
serie_nombres.isnull()

Pedro    False
Marta    False
Lucas    False
Brais    False
Rulas     True
dtype: bool